/* heebo-regular - latin */
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/heebo-v19-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/heebo-v19-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/heebo-v19-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/heebo-v19-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/heebo-v19-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/heebo-v19-latin-regular.svg#Heebo")
      format("svg"); /* Legacy iOS */
}
/* heebo-500 - latin */
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/heebo-v19-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/heebo-v19-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/heebo-v19-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/heebo-v19-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/heebo-v19-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/heebo-v19-latin-500.svg#Heebo")
      format("svg"); /* Legacy iOS */
}
/* heebo-600 - latin */
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/heebo-v19-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/heebo-v19-latin-600.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/heebo-v19-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/heebo-v19-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/heebo-v19-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/heebo-v19-latin-600.svg#Heebo")
      format("svg"); /* Legacy iOS */
}
/* heebo-700 - latin */
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/heebo-v19-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/heebo-v19-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/heebo-v19-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/heebo-v19-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/heebo-v19-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/heebo-v19-latin-700.svg#Heebo")
      format("svg"); /* Legacy iOS */
}
/* heebo-800 - latin */
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/heebo-v19-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/heebo-v19-latin-800.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/heebo-v19-latin-800.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/heebo-v19-latin-800.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/heebo-v19-latin-800.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/heebo-v19-latin-800.svg#Heebo")
      format("svg"); /* Legacy iOS */
}
html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

ul,
li,
a {
  text-decoration: none;
  list-style-type: none;
}
a {
  color: #21243d;
  margin: 0px 7px;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Heebo";
  font-size: 16px;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.header {
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
  left: 0;
  padding: 27px 60px;
}
.header__item + .header__item {
  margin-left: 30px;
}
.header__nav {
  margin-left: auto;
}

.header__link {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  text-align: right;

  color: #000000;
}

.main {
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
}
.article-left {
  margin-left: 105px;
}
.instruction__container {
  display: flex;
  flex-wrap: wrap;
}
.article {
  max-width: 506px;
}
.article__head {
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  color: #21243d;
}
.photo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rounded-circle {
  max-width: 243px;
  max-height: 243px;
}
.article__head {
  margin-bottom: 40px;
}
.article__desc {
  margin-bottom: 38px;
}
@media only screen and (max-width: 992px) {
  .header__nav {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
  }
  .instruction__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 0px 20px;
  }
  .rounded-circle {
    width: 170px;
    height: 170px;
    margin: 0px auto;
    margin-bottom: 34px;
  }
  .article-left {
    margin: 0px;
  }
  .article {
    text-align: center;
  }
  .article__head {
    font-size: 32px;
    line-height: 40px;
    /* or 125% */

    text-align: center;

    /* Dark Color */
    color: #21243d;
    margin-bottom: 21px;
  }
  .article__desc {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    /* Dark Color */

    color: #21243d;
  }
}
